{% extends 'base.html' %}

{% block title %}Tris{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-start mb-3 ms-3">
    <a href="/play/" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back
    </a>
</div>

<div class="text-center mb-5">
    <h1 class="mb-4">Tris</h1>

    <form action="{% url 'new_game_player' %}" method="post" class="d-inline-block">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg d-flex align-items-center px-4">
            <i class="bi bi-people-fill me-2"></i> Player vs Player
        </button>
    </form>

    <form action="{% url 'new_game_ai' %}" method="post" class="mb-3 d-inline-block me-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg d-flex align-items-center px-4">
            <i class="bi bi-robot me-2"></i> Player vs AI
        </button>
    </form>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <h5>Wins</h5>
            <p class="display-4">{{ wins }}</p>
        </div>
        <div class="col-md-4">
            <h5>Losses</h5>
            <p class="display-4">{{ losses }}</p>
        </div>
        <div class="col-md-4">
            <h5>Draws</h5>
            <p class="display-4">{{ draws }}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

